body {
    background: #d3d9d7;
}

.login-box {
    width: 400px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.input-group-text {
    background-color: #f8f9fa;
}

.alert {
    text-align: center;
    font-size: 14px;
}
